# Load dataset penguins and analyze it

[!] Do not do this exam if you have not tried any other exam yet for at least 2 hours.

Use seaborn to load the penguins dataset and analyze it.

Imagine you are a scientist who recorded the following features for a set of penguins:
- species
- sex
- island
- bill_length_mm
- bill_depth_mm
- flipper_length
- body_mass_g

Now you want to publish a paper about your findings and need to analyze the dataset first.
For this you will have to:

- Describe the dataset and its features.
- Plot different aspects of the dataset. Do not use default plots, but customize them in a meaningful way.
- Make at least 3 figures.
- Write figure captions and use axis labels.
- Do some basic but useful statistics on the dataset; i.e. compare groups in the dataset, find correlations, etc.

Write a small report about your findings and submit it as a Jupyter notebook.
What do these findings mean? What are the implications and conclusions of these findings?

In [1]:
# Load dataset penguins
import seaborn as sns
ds = sns.load_dataset('penguins')

In [2]:
ds.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [3]:
# Add code here...